body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    background-image: url("../images/dust.png");
    color: #777777;
    clear: both;
}
h1 {
    color: #4aaaa5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: #4aaaa5;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    line-height: 18px;
}
.header {
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    height: 35px;
    padding: 20px;
    margin-bottom: 20px;
    clear: both;
}
.nav-set {
    background-color: white;
    height: 100%;
    position: relative;
}
.b {
    position: absolute;
    bottom: -20px;
    max-width: 150px;
    left: 20px;
    background-color: teal;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.nav {
    position: absolute;
    display: inline-block;
    margin-right: 2px;
    width: 80px;
    height: 25px;
    text-align: center;
}
.nav1 {
    top: 50%;
    right: 200px;
    border-right: 2px;
    border-right-color: rgba(0, 0, 0, 0.968);
}
.nav2 {
    top: 50%;
    right: 120px;
    
}
.nav3 {
    top: 50%;
    right: 40px;
    
}
.section {
    max-width: 960px;
    width: 100%;
    margin-bottom: 150px;
    clear: both;
    position: relative;
    left: 30px;
    padding: 8px;
    overflow: auto;
}
.main {
    float: left;
    width: 60%;
    max-width: 650px;
    min-width: 450px;
    padding: 20px;
    margin-left: 10px;
    background-color: white;
}
.float {
    float: left;
    margin-right: 10px;
}
.wrapper {
    width: 100%;
}
.portfolio {
    clear: both;
}
.pimage {
    position: relative;
    max-height: 250px;
    max-width: 250px;
    width: 45%;
    margin: 2% 3% 3% 3%;
    float: left;
}
.pimage img{
    width: 100%;
}
.ptext {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    background-color: teal;
    padding: 15px;
}
.ptext h3{
    color: white;
    text-align: center;
}
.connect {
    float: left;
    width: 170px;
    padding: 20px;
    margin-left: 10px;
    background-color: white;
}
.imgsp {
    margin-right: 5px;
}
.social {
    float: left;
    display: inline-block;
    text-decoration: none;
}
.clearfix {
    clear: both;
  }
.footer {
    background-color: #666666;
    border-top: 4px solid teal;
    text-align: center;
    width: 100%;
    color: azure;
    font-size: 10px;
    padding: 15px;
    position: fixed;
    height: 30px;
    bottom: 0;
    left: 0;
}